<div class="card">
    <div class="flex flex-column gap-2">
        <label for="username">Unesi vreme perioda uzorkovanja</label><br>
        <input 
            pInputText
            id="username" 
            aria-describedby="username-help" 
            [(ngModel)]="valueTimeSample" /><br>
        <small id="username-help">
            vreme unesite u s
        </small>
    </div>
</div>

<div class="card">
    <p-table 
        [value]="senzori" 
        styleClass="p-datatable-striped" 
        [tableStyle]="{'min-width': '50rem'}">
        
            <ng-template pTemplate="header">
                <tr class="custom-header">
                    
                    <th>Senzor</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-s>
                <tr>
                    <td>{{s.naziv}}</td>
                    <td [style.color]="s.status === 'ON' ? 'green' : 'red'">
                        {{s.status}}
                    </td>
                    <td><p-button 
                        [label]="s.status === 'ON' ? 'OFF' : 'ON'" 
                        [severity]="s.status === 'ON' ? 'danger' : 'success'" 
                        icon="pi pi-power-off"
                        (onClick)="toggleSenzor(s)" />
                    </td>
                </tr>
            </ng-template>
    </p-table>
</div>