<p>Unesi vreme u s na koliko da uzorukuju senzori</p><br>
<p-inputNumber 
    inputId="integeronly" 
    [(ngModel)]="valueTimeSample" /> 
<br>
<p-button 
    label="Prihvati" 
    (onClick)="promeniVreme()">
</p-button>

<div class="card">
    <p-table 
        [value]="senzori" 
        styleClass="p-datatable-striped" 
        [tableStyle]="{'min-width': '50rem'}">
        
            <ng-template pTemplate="header">
                <tr class="custom-header">
                    
                    <th>Senzor</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-s>
                <tr>
                    <td>{{s.naziv}}</td>
                    <td [style.color]="s.status === 'ON' ? 'green' : 'red'">
                        {{s.status}}
                    </td>
                    <td><p-button
                        [label]="s.status === 'ON' ? 'OFF' : 'ON'" 
                        [severity]="s.status === 'ON' ? 'danger' : 'success'" 
                        icon="pi pi-power-off"
                        (onClick)="toggleSenzor(s)" />
                    </td>
                </tr>
            </ng-template>
    </p-table>
</div>