::ng-deep .icon-only-menu .p-menuitem-link {
    width: 40px;          
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9A3F3F;  
    border-radius: 50%;          
    color: white !important;     
    padding: 0;
}

::ng-deep .icon-only-menu .p-menuitem-link:hover {
    background-color: #9A3F3F;   
}
